# Changelog

Changelog for [{{repoName}}](https://github.com/{{ownerName}}/{{repoName}}).

{{#tags}}
## [{{name}}](https://github.com/{{ownerName}}/{{repoName}}{{#ifReleaseTag .}}/releases/tag/{{name}}{{/ifReleaseTag}}){{#ifReleaseTag .}} ({{tagDate .}}){{/ifReleaseTag}}

### Enhancements
 {{#issues}}
  {{#labels}}
   {{#ifMatches . "^(?!.*dependencies).*$"}}
    {{#commits}}
    {{#merge}}
     {{#hasIssue}}
      {{#hasLink}}
       {{#ifMatches link ".*\/pull\/.*"}}
 - [{{issue}}]({{link}}) {{title}} ({{commitDate}})
       {{/ifMatches}}
      {{/hasLink}}
      {{^hasLink}}
 - {{issue}} {{title}} ({{commitDate}})
      {{/hasLink}}
     {{/hasIssue}}
    {{/merge}}
    {{/commits}}
   {{/ifMatches}}
  {{/labels}}
 {{/issues}}
 {{#issues}}
  {{^hasLabels}}
   {{#commits}}
   {{#merge}}
   {{#hasIssue}}
    {{#hasLink}}
     {{#ifMatches link ".*\/pull\/.*"}}
 - [{{issue}}]({{link}}) {{title}} ({{commitDate}})
     {{/ifMatches}}
    {{/hasLink}}
    {{^hasLink}}
 - {{issue}} {{title}} ({{commitDate}})
    {{/hasLink}}
   {{/hasIssue}}
   {{/merge}}
   {{/commits}}
  {{/hasLabels}}
 {{/issues}}

### Dependencies
 {{#issues}}
  {{#hasLabels}}
   {{#labels}}
    {{#ifMatches . "^dependencies.*"}}
     {{#commits}}
     {{#merge}}
      {{#hasIssue}}
       {{#hasLink}}
        {{#ifMatches link ".*\/pull\/.*"}}
  - [{{issue}}]({{link}}) {{title}} ({{commitDate}})
        {{/ifMatches}}
       {{/hasLink}}
       {{^hasLink}}
  - {{issue}} {{title}} ({{commitDate}})
       {{/hasLink}}
      {{/hasIssue}}
     {{/merge}}
     {{/commits}}
    {{/ifMatches}}
   {{/labels}}
  {{/hasLabels}} 
 {{/issues}}
 
{{/tags}}